<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <!--
        使用util命名空间实现spring配置文件的复用，主要是针对 集合类型的属性在xml文件中的引用
        第一步：在xml的配置文件头部添加util命名空间
            xmlns:util="http://www.springframework.org/schema/util"
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        第二步：使用 util:properties 提取公共配置，使用ref引入公共配置
    -->
    <util:properties id="myDataSource">
        <prop key="drive">com.mysql.cj.jdbc.Driver</prop>
        <prop key="url">jdbc:mysql://localhost:3306/test</prop>
        <prop key="username">namespace</prop>
        <prop key="password">123456</prop>
    </util:properties>

    <bean id="myDataSource2" class="org.bluebridge.profile.namespace.utilnamespace.MyDataSource2">
        <property name="properties" ref="myDataSource"/>
    </bean>
    <bean id="myDataSource3" class="org.bluebridge.profile.namespace.utilnamespace.MyDataSource3">
        <property name="properties" ref="myDataSource"/>
    </bean>
</beans>