<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        这个bean中有一个ResourceLoader类型的属性，正常来说，如果要使用这个属性是要我们手动给这个属性配置值的，
        但是这里我们没有做任何配置，这个属性还是被赋值了，是因为Spring的IoC容器将自身的引用赋值给这个属性了
    -->
    <bean id="springIocContainerAsResourceLoader" class="org.bluebridge.resource.springioc.SpringIocContainerAsResourceLoader"/>
</beans>