<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        prototype + setter模式
        结论：会出现循环依赖问题
    -->
    <bean id="husband" class="org.bluebridge.circulardependence.injectbyset.prototype.Husband" scope="prototype">
        <property name="name" value="丈夫-prototype"/>
        <property name="wife" ref="wife"/>
    </bean>
    <bean id="wife" class="org.bluebridge.circulardependence.injectbyset.prototype.Wife" scope="prototype">
        <property name="name" value="妻子-prototype"/>
        <property name="husband" ref="husband"/>
    </bean>
</beans>