<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="user" class="org.bluebridge.domain.Employee">
        <property name="name" value="zhangsan"/>
        <property name="age" value="18"/>
    </bean>

    <bean id="userDao" class="org.bluebridge.dao.UserDao"/>
    <bean id="userService" class="org.bluebridge.service.UserService">
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="userController" class="org.bluebridge.UserController">
        <property name="userService" ref="userService"/>
    </bean>
</beans>