<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- MyBatis 日志配置 -->
    <logger name="org.apache.ibatis" level="DEBUG"/>
    <!-- 打印SQL语句 -->
    <logger name="java.sql.PreparedStatement" level="DEBUG"/>
    <!-- 打印ResultSet结果集 -->
    <logger name="java.sql.ResultSet" level="DEBUG"/>
    <!-- 打印数据库连接信息 -->
    <logger name="java.sql.Connection" level="DEBUG"/>
    <!-- 可以为具体的Mapper或类设置日志级别 -->
    <logger name="org.bulebridge" level="DEBUG"/>

    <!-- 日志输出级别,logback日志级别包括五个：TRACE < DEBUG < INFO < WARN < ERROR -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>