<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace先随意写一个-->
<mapper namespace="crudByMap">
    <!--insert sql：保存一个Employee信息-->
    <insert id="insertEmployee">
        <!-- 设置主键生成策略:UUID方式
             order:表示是当前查询主键SQL在插入数据SQL执行之前执行
         -->
        <!--
        <selectKey keyProperty="id" resultType="String" order="BEFORE">
            SELECT REPLACE(SYS_GUID(),'-','') FROM DUAL
        </selectKey>
        -->

        <!-- 设置主键生成策略:Oracle序列
            order:表示是当前查询主键SQL在插入数据SQL执行之前执行
        -->
        <selectKey keyProperty="id" order="BEFORE" resultType="String">
            SELECT T_EMPLOYEE_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO
            t_employee (id,last_name, email, gender)
        VALUES
            (#{id},#{last_name}, #{email}, #{gender})
    </insert>

    <!--update sql：更新一个Employee信息-->
    <update id="updateEmployee">
        UPDATE
            t_employee
        SET
            last_name = #{last_name},email = #{email},gender = #{gender}
        WHERE
            id = #{id}
    </update>

    <!--delete sql：删除一个Employee信息-->
    <delete id="deleteEmployee">
        DELETE FROM
            t_employee
        WHERE
            id = #{id}
    </delete>

    <!--selectOne sql：查询一个Employee信息-->
    <select id="selectOneEmployee" resultType="java.util.Map">
        SELECT
            *
        FROM
            t_employee
        WHERE
            id = #{id}
    </select>

    <!--selectList sql：查询多个Employee信息，特别注意：这里的查询多个Employee的resultType的类型和查询一个Employee的resultType的类型是一致的-->
    <select id="selectEmployees" resultType="java.util.Map">
        SELECT
            *
        FROM
            t_employee
    </select>
</mapper>