# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.maven-wrapper

# Git
.git
.gitignore

# IDE
*.swp
*~
.idea/
*.iml
*.xml
.classpath
.project
.settings/
*.launch
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Documentation
*.md
*.txt
docs/

# Other
README*
LICENSE