<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.mapper.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--
        引入外部配置文件
		1、mybatis可以使用properties来引入外部properties配置文件的内容；
		resource：引入类路径下的资源
		url：引入网络路径或者磁盘路径下的资源
	  -->
    <properties resource="db.properties"/>

    <environments default="home_dev_oracle">
        <environment id="dev">
            <transactionManager type="JDBC">
                    <!--type:JDBC/MANAGED]")-->
            </transactionManager>
            <dataSource type="POOLED">
                <!--从配置文件中获取的数据库连接信息-->
                <property name="driver" value="${dev.jdbc.driver}"/>
                <property name="url" value="${dev.jdbc.url}"/>
                <property name="username" value="${dev.jdbc.username}"/>
                <property name="password" value="${dev.jdbc.password}"/>
            </dataSource>
        </environment>
        <environment id="pro">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${pro.jdbc.driver}"/>
                <property name="url" value="${pro.jdbc.url}"/>
                <property name="username" value="${pro.jdbc.username}"/>
                <property name="password" value="${pro.jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--导入mapper-->
    <mappers>
        <!--mybatis.mapper helloworld-->
        <mapper resource="mybatis_a/test/EmpMapper.xml"/>
    </mappers>
</configuration>