<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- UrlResource-->
    <bean id="urlResourceDemo" class="org.bluebridge.resource.uri_resource.UrlResourceDemo"/>

    <!-- ClassPathResourceDemo-->
    <bean id="classPathResourceDemo" class="org.bluebridge.resource.class_path_resource.ClassPathResourceDemo"/>

    <!-- FileSystemResourceDemo-->
    <bean id="fileSystemResourceDemo" class="org.bluebridge.resource.file_system_resource.FileSystemResourceDemo"/>
</beans>