<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="user" class="org.bulebridge.ioc.profile.domain.User" scope="prototype">
		<property name="name" value="张三"/>
		<property name="age" value="18"/>
	</bean>

	<bean id="userDao" class="org.bulebridge.ioc.profile.dao.UserDao">
		<property name="user" ref="user"/>
	</bean>
	<bean id="userServiceImpl" class="org.bulebridge.ioc.profile.service.UserServiceImpl">
		<property name="userDao" ref="userDao"/>
	</bean>
	<bean id="userController" class="org.bulebridge.ioc.profile.controller.UserController">
		<property name="userServiceImpl" ref="userServiceImpl"/>
	</bean>
</beans>
