<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SpringBoot提供的消息转换器演示</title>
    <style>
        a {
            text-decoration: none;
            font-size: 20px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <h1>SpringBoot提供的消息转换器演示</h1>
    <h4>测试@RequestBody注解</h4>
    <form th:action="@{/httpmessageconverter/requestBody}" method="post">
        账户:<input type="text" name="username" value="zhangsan"/><br/>
        密码:<input type="text" name="password" value="123456"/><br/>
        邮箱:<input type="text" name="email" value="zhangsan@gmail.com"/><br/>
        <input type="submit"/>
    </form>

    <h4>测试@RequestEntity注解</h4>
    <form th:action="@{/httpmessageconverter/requestEntity}" method="post">
        账户:<input type="text" name="username" value="lisi"/><br/>
        密码:<input type="text" name="password" value="123456"/><br/>
        邮箱:<input type="text" name="email" value="lisi@gmail.com"/><br/>
        <input type="submit"/>
    </form>

    <h4>测试使用@ResponseBody以字符串形式给响应浏览器一个字符串</h4>
    <a th:href="@{/httpmessageconverter/responseBody/string}">测试使用@ResponseBody以字符串形式给响应浏览器一个字符串</a><br/>

    <h4>测试使用@ResponseBody以字符串形式给响应浏览器一个Json字符串格式对象</h4>
    <a th:href="@{/httpmessageconverter/responseBody/jsonStringFormat/object}">测试使用@ResponseBody以字符串形式给响应浏览器一个Json字符串格式对象</a><br/>

    <h4>测试使用@ResponseBody以字符串形式给响应浏览器一个xml文本格式对象</h4>
    <a th:href="@{/httpmessageconverter/responseBody/xmlText/object}">测试使用@ResponseBody以字符串形式给响应浏览器一个xml文本格式对象</a>

    <h4>测试使用@ResponseEntity以字符串形式给响应浏览器一个字符串</h4>
    <a th:href="@{/httpmessageconverter/responseEntity/string}">测试使用@ResponseEntity以字符串形式给响应浏览器一个字符串</a><br/>

    <h4>测试使用@ResponseEntity以字符串形式给响应浏览器一个Json字符串格式对象</h4>
    <a th:href="@{/httpmessageconverter/responseEntity/jsonStringFormat/object}">测试使用@ResponseEntity以字符串形式给响应浏览器一个Json字符串格式对象</a><br/>

    <h4>测试使用@ResponseEntity以字符串形式给响应浏览器一个xml文本格式对象</h4>
    <a th:href="@{/httpmessageconverter/responseEntity/xmlText/object}">测试使用@ResponseEntity以字符串形式给响应浏览器一个xml文本格式对象</a>
</body>
</html>