<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bluebridge.mapper.CarMapper">
    <!-- 分页查询-使用mysql原生方式分页 -->
    <select id="selectByPageUseMysqlNative" resultType="Car">
        select * from t_car limit #{startIndex}, #{pageSize}
    </select>

    <!-- 分页查询-使用PageHelper插件分页 -->
    <select id="selectByPageUsePageHelper" resultType="Car">
        select * from t_car
    </select>
</mapper>